<div class="conciertos">
  <h2>Próximos conciertos</h2>
  <hr/>
  <% dato.conciertos.each do |concierto| %>
    <div class="concert-row">
      <div class="fecha">
        <%= get_date(concierto.fecha_y_hora) %>
      </div>
      <div class="descripcion">
        <%= concierto.lugar %><br/>
        <%
        <%=# concierto.fecha_y_hora.inspect %><br/>
        <%= concierto.cover %>
        <br/>
        <a href="<%= concierto.link %>" target="_blank">Más info ></a>
      </div>
    </div>
  <% end %>
</div>
